<div class="carousel slide carousel-fade" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    </div>
    <div class="item">
    </div>
    <div class="item">
    </div>
  </div>
</div>
<div class="search-form-content text-center">
  <h1>Book unique outdoor equipment worldwide</h1>
  <br>
  <%= form_tag(gears_path, method: :get, class: "form-inline home-form form-group") do %>
  <div class="input-group">
    <span class="input-group-addon"><i class="fas fa-search"></i></span>
    <%= text_field_tag :q, params[:q], placeholder: "A category you like?", class: "search form-control" %>
    <%= submit_tag 'Search', name: nil, class: "btn-home-search" %>
  </div>
  <% end %>
  <%= link_to "View all equipment", gears_path, class: "show-all-equipment" %>
</div>
