<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1465697558515-acefe0316e17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2ce5293d2c491df950c3e41d5f7281e&auto=format&fit=crop&w=1353&q=80');">
  <div class="banner-content">
  <h1>Book unique outdoor equipment worldwide</h1>
  </div>
</div>
