<div class="gear-main-wrapper text-center">
  <div class="add-gear-wrapper">
  <h4>Add new gear</h4>
    <%= render 'form', gear: @gear %>

    <%= link_to gears_path do %>
      <div class="go-back">
        <i class="far fa-times-circle"></i>
      </div>
    <% end %>

  </div>
</div>
