.infobox-image {
  margin-top: 10px;
  width: 150px;
  border-radius: 2px;
  padding-left: 20px;
}

.infobox-name {
  margin-top: 10px;
  line-height: 5px;
  padding-left: 20px;
}

.infobox-price {
  padding-left: 20px;
  margin-bottom: 2px;
}

.infobox-category {
  text-align: center;
  margin-left: 20px;
}
