.wrapper {
  position: relative;
  text-align: center;
  color: rgba(50,50,50,0.9);
  width: 100%;
  height: calc(100% - 90px);
  margin-top: 90px;
  background-color: rgba(250,250,250,1);
  >h2 {
    letter-spacing: -3px;
    font-family: 'Copperplate', 'sans-serif';
    font-size: 50px;
    font-weight: 450;
    line-height: 10px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  >p {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

img.globe-icon {
    padding: 20px;
    box-shadow: 0 0 1px rgba(250,250,250,0.4);
    border: 0.5px solid rgba(250,250,250,0.4);
    background-color: rgba(0, 166, 231, 0.15);
    border-radius: 50%;
    height: 130px;
    opacity: 0.7;
    margin-bottom: 20px;
    -webkit-animation-name:            rotate;
    -webkit-animation-duration:        80s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

hr {
  width: 400px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(50,50,50,1);
  margin: 0 auto;
  padding: 0;
}

#card-map-wrapper {
  background-color: rgba(240,240,240,1);
  padding-top: 50px;
  padding-bottom: 30px;
  box-shadow: 0 0 5px rgba(150,150,150,1);
}

#show-map {
  box-shadow: 0 0 5px rgba(200,200,200,1);
  border: 2px solid rgba(220,220,220,1);
  width: 100%;
  height: 100vh;
  .hide {
    display: none;
  }
}

.hide {
  display: none;
}

.btn.show-on-map {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgba(150,150,150,1);
  box-shadow: 0 0 5px rgba(200,200,200,1);
  position: absolute;
  right: 80px;
  height: 50px;
  top: 302px;
  transition: 0.2s ease;
  &:hover {
    box-shadow: 0 0 5px rgba(150,150,150,1);
    color: rgba(50,50,50,1);
  }
}



